<a href="https://colab.research.google.com/github/rocowork/colab/blob/master/20130313.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
#using Pandas
#load data
#Import the 'pandas' library as 'pd'
import pandas as pd
wine=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",header=None)
wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [0]:
wine[0].head(60)

In [0]:
#維度(變數)
#觀測值總數
#目標值(標籤)
print("info :",wine.info())
print("desc :",wine.describe())
print("shape :",wine.shape)

In [0]:
#google dataframe取欄位
#DataFrame 是 Pandas 中儲存 2 維表格的資料結構。

#pandas的loc以及iloc使用
#loc是根據dataframe的具體標籤選取列，而iloc是根據標籤所在的位置，從0開始計數。

import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))
print(frame)


#loc基於行(橫)標籤和列(直)標籤（x_label、y_label）進行索引
#loc先行後列，中間用逗號（,）分割
print(frame.loc['a','A'])
#取前兩行對應資料
print(frame.loc['a':'b',:])
#取前兩列對應資料
print(frame.loc[:,'A':'B'])
#取前兩行和前兩列對應資料
print(frame.loc['a':'b','A':'B'])
#若取第一行和第四行、第一列和第四列對應的資料，則
print(frame.loc[['a','d'],['A','D']])

#iloc基於行索引和列索引（index，columns） 都是從 0 開始
#iloc先行後列，中間用逗號（,）分割
print(frame.iloc[0,0])
#取前兩行對應資料
print(frame.iloc[0:2,:])
#取前兩列對應資料
print(frame.iloc[:,0:2])
#取前兩行和前兩列對應資料
print(frame.iloc[0:2,0:2])
#若取第一行和第四行、第一列和第四列對應的資料，則
print(frame.iloc[[0,3],[0,3]])

In [31]:
#資料分割出目標值
wine_data=wine.iloc[:,1:]
wine_data.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [32]:
wine_target=wine.iloc[:,2]
wine_target.head()

0    1.71
1    1.78
2    2.36
3    1.95
4    2.59
Name: 2, dtype: float64

In [43]:
#將資料切分為訓練與測試資料
# Import `train_test_split`
from sklearn.model_selection import train_test_split

# Split the `wine` data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(wine_data, wine_target, test_size=0.25, random_state=42)
#print(X_train)

# Import the `svm` model
from sklearn import svm

# Create the SVC model 
svc_model = svm.SVC(gamma=0.001, C=100., kernel='linear')

# Fit the data to the SVC model
svc_model.fit(X_train, y_train)

ValueError: ignored