<a href="https://colab.research.google.com/github/rocowork/colab/blob/master/20130313.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#using Pandas
#load data
#Import the 'pandas' library as 'pd'
import pandas as pd
wine=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",header=None)
wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [3]:
wine[0].head(60)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
39    1
40    1
41    1
42    1
43    1
44    1
45    1
46    1
47    1
48    1
49    1
50    1
51    1
52    1
53    1
54    1
55    1
56    1
57    1
58    1
59    2
Name: 0, dtype: int64

In [4]:
#維度(變數)
#觀測值總數
#目標值(標籤)
print("info :",wine.info())
print("desc :",wine.describe())
print("shape :",wine.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 14 columns):
0     178 non-null int64
1     178 non-null float64
2     178 non-null float64
3     178 non-null float64
4     178 non-null float64
5     178 non-null int64
6     178 non-null float64
7     178 non-null float64
8     178 non-null float64
9     178 non-null float64
10    178 non-null float64
11    178 non-null float64
12    178 non-null float64
13    178 non-null int64
dtypes: float64(11), int64(3)
memory usage: 19.5 KB
info : None
desc :                0           1           2           3           4           5   \
count  178.000000  178.000000  178.000000  178.000000  178.000000  178.000000
mean     1.938202   13.000618    2.336348    2.366517   19.494944   99.741573
std      0.775035    0.811827    1.117146    0.274344    3.339564   14.282484
min      1.000000   11.030000    0.740000    1.360000   10.600000   70.000000
25%      1.000000   12.362500    1.602500    2.210000   17.200000   88.000000
50%      2.000000   13.050000    1.865000    2.360000   19.500000   98.000000
75%      3.000000   13.677500    3.082500    2.557500   21.500000  107.000000
max      3.000000   14.830000    5.800000    3.230000   30.000000  162.000000

               6           7           8           9           10          11  \
count  178.000000  178.000000  178.000000  178.000000  178.000000  178.000000
mean     2.295112    2.029270    0.361854    1.590899    5.058090    0.957449
std      0.625851    0.998859    0.124453    0.572359    2.318286    0.228572
min      0.980000    0.340000    0.130000    0.410000    1.280000    0.480000
25%      1.742500    1.205000    0.270000    1.250000    3.220000    0.782500
50%      2.355000    2.135000    0.340000    1.555000    4.690000    0.965000
75%      2.800000    2.875000    0.437500    1.950000    6.200000    1.120000
max      3.880000    5.080000    0.660000    3.580000   13.000000    1.710000

               12           13
count  178.000000   178.000000
mean     2.611685   746.893258
std      0.709990   314.907474
min      1.270000   278.000000
25%      1.937500   500.500000
50%      2.780000   673.500000
75%      3.170000   985.000000
max      4.000000  1680.000000
shape : (178, 14)

In [5]:
#google dataframe取欄位
#DataFrame 是 Pandas 中儲存 2 維表格的資料結構。

#pandas的loc以及iloc使用
#loc是根據dataframe的具體標籤選取列，而iloc是根據標籤所在的位置，從0開始計數。

import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.rand(4,4),index=list('abcd'),columns=list('ABCD'))
print(frame)


#loc基於行(橫)標籤和列(直)標籤（x_label、y_label）進行索引
#loc先行後列，中間用逗號（,）分割
print(frame.loc['a','A'])
#取前兩行對應資料
print(frame.loc['a':'b',:])
#取前兩列對應資料
print(frame.loc[:,'A':'B'])
#取前兩行和前兩列對應資料
print(frame.loc['a':'b','A':'B'])
#若取第一行和第四行、第一列和第四列對應的資料，則
print(frame.loc[['a','d'],['A','D']])

#iloc基於行索引和列索引（index，columns） 都是從 0 開始
#iloc先行後列，中間用逗號（,）分割
print(frame.iloc[0,0])
#取前兩行對應資料
print(frame.iloc[0:2,:])
#取前兩列對應資料
print(frame.iloc[:,0:2])
#取前兩行和前兩列對應資料
print(frame.iloc[0:2,0:2])
#若取第一行和第四行、第一列和第四列對應的資料，則
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D
a  0.118197  0.912838  0.655883  0.802011
b  0.688025  0.380444  0.596237  0.183262
c  0.471748  0.279547  0.361852  0.297255
d  0.033823  0.970062  0.750801  0.501067
0.11819664963403442
          A         B         C         D
a  0.118197  0.912838  0.655883  0.802011
b  0.688025  0.380444  0.596237  0.183262
          A         B
a  0.118197  0.912838
b  0.688025  0.380444
c  0.471748  0.279547
d  0.033823  0.970062
          A         B
a  0.118197  0.912838
b  0.688025  0.380444
          A         D
a  0.118197  0.802011
d  0.033823  0.501067
0.11819664963403442
          A         B         C         D
a  0.118197  0.912838  0.655883  0.802011
b  0.688025  0.380444  0.596237  0.183262
          A         B
a  0.118197  0.912838
b  0.688025  0.380444
c  0.471748  0.279547
d  0.033823  0.970062
          A         B
a  0.118197  0.912838
b  0.688025  0.380444
          A         D
a  0.118197  0.802011
d  0.033823  0.501067

In [6]:
#資料分割出目標值
wine_data=wine.iloc[:,1:]
wine_data.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [19]:
wine_target=wine.iloc[:,0]
wine_target.head()

0    1
1    1
2    1
3    1
4    1
Name: 0, dtype: int64

In [0]:
#將資料切分為訓練與測試資料
# Import `train_test_split`
from sklearn.model_selection import train_test_split

# Split the `wine` data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(wine_data, wine_target, test_size=0.25, random_state=42)

In [22]:
print(X_train)

        1     2     3     4    5     6     7     8     9      10    11    12  \
2    13.16  2.36  2.67  18.6  101  2.80  3.24  0.30  2.81   5.68  1.03  3.17
100  12.08  2.08  1.70  17.5   97  2.23  2.17  0.26  1.40   3.30  1.27  2.96
122  12.42  4.43  2.73  26.5  102  2.20  2.13  0.43  1.71   2.08  0.92  3.12
154  12.58  1.29  2.10  20.0  103  1.48  0.58  0.53  1.40   7.60  0.58  1.55
51   13.83  1.65  2.60  17.2   94  2.45  2.99  0.22  2.29   5.60  1.24  3.37
76   13.03  0.90  1.71  16.0   86  1.95  2.03  0.24  1.46   4.60  1.19  2.48
56   14.22  1.70  2.30  16.3  118  3.20  3.00  0.26  2.03   6.38  0.94  3.31
26   13.39  1.77  2.62  16.1   93  2.85  2.94  0.34  1.45   4.80  0.92  3.22
153  13.23  3.30  2.28  18.5   98  1.80  0.83  0.61  1.87  10.52  0.56  1.51
138  13.49  3.59  2.19  19.5   88  1.62  0.48  0.58  0.88   5.70  0.81  1.82
104  12.51  1.73  1.98  20.5   85  2.20  1.92  0.32  1.48   2.94  1.04  3.57
78   12.33  0.99  1.95  14.8  136  1.90  1.85  0.35  2.76   3.40  1.06  2.31
36   13.28  1.64  2.84  15.5  110  2.60  2.68  0.34  1.36   4.60  1.09  2.78
93   12.29  2.83  2.22  18.0   88  2.45  2.25  0.25  1.99   2.15  1.15  3.30
22   13.71  1.86  2.36  16.6  101  2.61  2.88  0.27  1.69   3.80  1.11  4.00
146  13.88  5.04  2.23  20.0   80  0.98  0.34  0.40  0.68   4.90  0.58  1.33
97   12.29  1.41  1.98  16.0   85  2.55  2.50  0.29  1.77   2.90  1.23  2.74
69   12.21  1.19  1.75  16.8  151  1.85  1.28  0.14  2.50   2.85  1.28  3.07
167  12.82  3.37  2.30  19.5   88  1.48  0.66  0.40  0.97  10.26  0.72  1.75
11   14.12  1.48  2.32  16.8   95  2.20  2.43  0.26  1.57   5.00  1.17  2.82
6    14.39  1.87  2.45  14.6   96  2.50  2.52  0.30  1.98   5.25  1.02  3.58
27   13.30  1.72  2.14  17.0   94  2.40  2.19  0.27  1.35   3.95  1.02  2.77
144  12.25  3.88  2.20  18.5  112  1.38  0.78  0.29  1.14   8.21  0.65  2.00
4    13.24  2.59  2.87  21.0  118  2.80  2.69  0.39  1.82   4.32  1.04  2.93
32   13.68  1.83  2.36  17.2  104  2.42  2.69  0.42  1.97   3.84  1.23  2.87
95   12.47  1.52  2.20  19.0  162  2.50  2.27  0.32  3.28   2.60  1.16  2.63
170  12.20  3.03  2.32  19.0   96  1.25  0.49  0.40  0.73   5.50  0.66  1.83
75   11.66  1.88  1.92  16.0   97  1.61  1.57  0.34  1.15   3.80  1.23  2.14
10   14.10  2.16  2.30  18.0  105  2.95  3.32  0.22  2.38   5.75  1.25  3.17
147  12.87  4.61  2.48  21.5   86  1.70  0.65  0.47  0.86   7.65  0.54  1.86
..     ...   ...   ...   ...  ...   ...   ...   ...   ...    ...   ...   ...
50   13.05  1.73  2.04  12.4   92  2.72  3.27  0.17  2.91   7.20  1.12  2.91
175  13.27  4.28  2.26  20.0  120  1.59  0.69  0.43  1.35  10.20  0.59  1.56
58   13.72  1.43  2.50  16.7  108  3.40  3.67  0.19  2.04   6.80  0.89  2.87
48   14.10  2.02  2.40  18.8  103  2.75  2.92  0.32  2.38   6.20  1.07  2.75
88   11.64  2.06  2.46  21.6   84  1.95  1.69  0.48  1.35   2.80  1.00  2.75
21   12.93  3.80  2.65  18.6  102  2.41  2.41  0.25  1.98   4.50  1.03  3.52
57   13.29  1.97  2.68  16.8  102  3.00  3.23  0.31  1.66   6.00  1.07  2.84
172  14.16  2.51  2.48  20.0   91  1.68  0.70  0.44  1.24   9.70  0.62  1.71
129  12.04  4.30  2.38  22.0   80  2.10  1.75  0.42  1.35   2.60  0.79  2.57
37   13.05  1.65  2.55  18.0   98  2.45  2.43  0.29  1.44   4.25  1.12  2.51
157  12.45  3.03  2.64  27.0   97  1.90  0.58  0.63  1.14   7.50  0.67  1.73
168  13.58  2.58  2.69  24.5  105  1.55  0.84  0.39  1.54   8.66  0.74  1.80
1    13.20  1.78  2.14  11.2  100  2.65  2.76  0.26  1.28   4.38  1.05  3.40
52   13.82  1.75  2.42  14.0  111  3.88  3.74  0.32  1.87   7.05  1.01  3.26
149  13.08  3.90  2.36  21.5  113  1.41  1.39  0.34  1.14   9.40  0.57  1.33
130  12.86  1.35  2.32  18.0  122  1.51  1.25  0.21  0.94   4.10  0.76  1.29
151  12.79  2.67  2.48  22.0  112  1.48  1.36  0.24  1.26  10.80  0.48  1.47
103  11.82  1.72  1.88  19.5   86  2.50  1.64  0.37  1.42   2.06  0.94  2.44
99   12.29  3.17  2.21  18.0   88  2.85  2.99  0.45  2.81   2.30  1.42  2.83
116  11.82  1.47  1.99  20.8   86  1.98  1.60  0.30  1.53   1.95  0.95  3.33
87   11.65  1.67  2.62  26.0   88  1.92  1.61  0.40  1.34   2.60  1.36  3.21
74   11.96  1.09  2.30  21.0  101  3.38  2.14  0.13  1.65   3.21  0.99  3.13
121  11.56  2.05  3.23  28.5  119  3.18  5.08  0.47  1.87   6.00  0.93  3.69
177  14.13  4.10  2.74  24.5   96  2.05  0.76  0.56  1.35   9.20  0.61  1.60
20   14.06  1.63  2.28  16.0  126  3.00  3.17  0.24  2.10   5.65  1.09  3.71
71   13.86  1.51  2.67  25.0   86  2.95  2.86  0.21  1.87   3.38  1.36  3.16
106  12.25  1.73  2.12  19.0   80  1.65  2.03  0.37  1.63   3.40  1.00  3.17
14   14.38  1.87  2.38  12.0  102  3.30  3.64  0.29  2.96   7.50  1.20  3.00
92   12.69  1.53  2.26  20.7   80  1.38  1.46  0.58  1.62   3.05  0.96  2.06
102  12.34  2.45  2.46  21.0   98  2.56  2.11  0.34  1.31   2.80  0.80  3.38

       13
2    1185
100   710
122   365
154   640
51   1265
76    392
56    970
26   1195
153   675
138   580
104   672
78    750
36    880
93    290
22   1035
146   415
97    428
69    718
167   685
11   1280
6    1290
27   1285
144   855
4     735
32    990
95    937
170   510
75    428
10   1510
147   625
..    ...
50   1150
175   835
58   1285
48   1060
88    680
21    770
57   1270
172   660
129   580
37   1105
157   880
168   750
1    1050
52   1190
149   550
130   630
151   480
103   415
99    406
116   495
87    562
74    886
121   465
177   560
20    780
71    410
106   510
14   1547
92    495
102   438

[133 rows x 13 columns]

In [23]:
print(y_train)

2      1
100    2
122    2
154    3
51     1
76     2
56     1
26     1
153    3
138    3
104    2
78     2
36     1
93     2
22     1
146    3
97     2
69     2
167    3
11     1
6      1
27     1
144    3
4      1
32     1
95     2
170    3
75     2
10     1
147    3
      ..
50     1
175    3
58     1
48     1
88     2
21     1
57     1
172    3
129    2
37     1
157    3
168    3
1      1
52     1
149    3
130    3
151    3
103    2
99     2
116    2
87     2
74     2
121    2
177    3
20     1
71     2
106    2
14     1
92     2
102    2
Name: 0, Length: 133, dtype: int64

In [24]:
# Import the `svm` model
from sklearn import svm

# Create the SVC model 
svc_model = svm.SVC(gamma=0.001, C=100., kernel='linear')

# Fit the data to the SVC model
svc_model.fit(X_train, y_train)

SVC(C=100.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.001, kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)