<a href="https://colab.research.google.com/github/rocowork/colab/blob/master/List_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#有序可變動列表List
grades=[60,50,70,30,90]
print(grades[0])#顯示列表中編號0(第一個位置)的資料
grades[1]=85 #把85放到列表中編號1的位置(第2個位置)
print(grades)
grades[1:2]=[] #連續刪除列表中從編號1到編號2(不包括)的資料
print(grades)

grades=grades+[12,33] #列表串接
print(grades)
#取得列表的長度len(列表資料)
print(len(grades))

#巢狀的列表
data=[[3,4,5],[6,7,8]]
print(data[0][1])
data[0][0:2]=[4,3,2,1]#將巢狀的第一個列表內的第一個到第三個(不包含)的資料換成新的列表資料
print(data)
#有序不可變動列表Tuple
x=(3,4,5)
print(x[1:])
print(x[:2])
print(x[0:1])

60
[60, 85, 70, 30, 90]
[60, 70, 30, 90]
[60, 70, 30, 90, 12, 33]
6
4
[[4, 3, 2, 1, 5], [6, 7, 8]]
(4, 5)
(3, 4)
(3,)